body {
    background-color: #bcd7d6;
}

h2 {
    color: aqua;
}

.form {
    background-color: #5fc058;
}

.discs {
    background-color: white;
}

.box {
    border-color: #23c12b;
}

.hej {
    border-color: #dab62e;
}