<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Settings</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="{{ ColorMode }}">
</head>
<body>

<h1>Settings</h1><br><br><br><br>
<h2><a href="/">Home</a></h2>

<div class="form">
    <form action="/storesettings" method="post" enctype="multipart/form-data">

        <label for="colorMode">Change colormode</label>
        <select name="colorMode">
                <option value="1">Whitemode</option>
                <option value="2">Darkmode</option>
                <option value="3">Redmode</option>
        </select>
        <br><br>
        <input type="submit" value="Store Settings">
    </form>
</div>

</body>
</html>