<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Plastics</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="{{ ColorMode }}">
</head>
<body>

<h1 >Add a new Plastic</h1>

<div class="form">
    <form action="/storeplastic" method="post" enctype="multipart/form-data">

        <input type="text" name="PlasticName" value="" placeholder="PlasticName"><br><br>
        <input type="text" name="PlasticDescription" value="" placeholder="PlasticDesctription"><br><br>
        <select name="ManufacturerId">
            {% for manufacturer in manufacturers %}
                <option value="{{ manufacturer.ManufacturerId }}">{{ manufacturer.ManufacturerName }}</option>
            {% endfor %}
        </select>
        <br><br>
        <input type="submit" value="Add Platic">
    </form>
</div>

</body>
</html>